<!DOCTYPE html>
<html>
<head> <% include ./head %> </head>
<body>
<% include ./header %>

    <a class="btn" href="/additem">Add New Item</a>

    <div class="card">

    <table class="highlight">
        <tr>
            <th>Videogames</th><th>rateing</th><th>Artist</th><th>levelofdifficulty </th><th>gendre</th><th>addedBy</th><th>actions</th>
        </tr>

        <% items.forEach(function(item){  %>
        <tr>
        <td><%=item.Videogames%></td><td><%=item.rateing%></td><td><%=item.Artist%></td><td><%=item.levelofdifficulty%></td><td><%=item.gendre%></td><td><%=item.addedBy%></td><td>

                       <button class="btn" type="button" onclick="goback()" name="link">Delete</button>
            </td>
        </tr>






        <% }) %>
    </table>

    </div>

<% include ./footer %>
</body>
</html>
